
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    background-color: #fff;
    border-radius: 32px;
    padding: 15px 40px;
    margin-top: 40px;
}

.card-container {
    width: 100%;
    max-width: 489px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.card-container img {
    width: 489px;
    height: 275px;
    object-fit: cover;
}

.title {
    font-weight: 700;
    font-size: 20px;
    color: #000;
    background: #fff;
    padding: 10px 40px 10px 15px;
}

.page-container {
    background-color: #fff;
    padding: 45px 100px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.page-container img {
    width: 1000px;
    height: 582px;
    align-self: center;
}

.head {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 35px;
}

.head i {
    align-self: flex-start;
    justify-self: start;
}

.head div {
    font-weight: 700;
    font-size: 20px;
}